body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: black;
    height: 69px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid seashell;
    z-index: 1;
    margin-top: -70px;
    
    
}

header img {
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    
    
}

header nav {
    display: inline-block;
    float: right;
    padding-top: 20px;
    margin-right: 10px;
    
}

nav span {
    display: inline-block;
}

nav span a {
    color: white;
    margin-right: 10px;
}

.main {
    width: 1200px;
    margin: auto;
    opacity: 0.9;
    margin-top: 69px;
}

#mission {
    height: 700px;
    background-image: url(../img/img-mission-background.jpg);
}

.content {
    margin: auto;
    background-color: black;
    position: relative;
    top:50%;
    width: 100%;
}

.content h2 {
    padding: 10px;
    margin: 0;
}

.content h4 {
    padding: 10px;
    margin: 0;
}

#store {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.item {
  
    padding: 15px;
   
}
.item span {
    text-align: center;
    display: block;
    margin: 10px;
}

.item img {
    height: 200px;
    width: 300px;
}

#locations {
    background-image: url(../img/img-locations-background.jpg);
    height: 500px;
}
#locations h2 {
    margin: 0;
    padding-top: 50px;
}

.location {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    justify-content: center;
    padding: 10px 20px;
    margin: 20px;
}


#content {
    height: 200px;
}

footer h5 {
    text-align: left;
    margin-left: 20px;
}